#include "ec-charly.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&xiao_serial { status = "disabled"; };

&default_transform {
    row-offset = <8>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-charlieplex";

    interrupt-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    gpios = 
        <&gpio1 1 GPIO_ACTIVE_HIGH>,  // IO0
        <&xiao_d 9 GPIO_ACTIVE_HIGH>,  // IO1
        <&xiao_d 8 GPIO_ACTIVE_HIGH>,  // IO2
        <&gpio0 15 GPIO_ACTIVE_HIGH>,  // IO3
        <&xiao_d 6 GPIO_ACTIVE_HIGH>,  // IO4
        <&xiao_d 3 GPIO_ACTIVE_HIGH>,  // IO5
        <&xiao_d 2 GPIO_ACTIVE_HIGH>,  // IO6
        <&xiao_d 0 GPIO_ACTIVE_HIGH>;  // IO7
};

&right1_encoder {
   status = "okay";
};

&right2_encoder {
   status = "okay";
};

&trackball_listener {
    status = "okay";
    compatible = "zmk,input-listener";
    device = <&trackball>;
    };