if SHIELD_ECCHARLY_R

config ZMK_KEYBOARD_NAME
    default "ec-charly"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ECCHARLY_L || SHIELD_ECCHARLY_R

config ZMK_SPLIT
    default y

endif

if SHIELD_ECCHARLY_R

# Other settings

config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y

endif