#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            /* Row 1 */
            &kp A      &kp B      &kp C      &kp D      &kp E      &kp F          &kp G      &kp H      &kp I      &kp J      &kp K      &kp L
            /* Row 2 */
            &kp M      &kp N      &kp O      &kp P      &kp Q      &kp R          &kp S      &kp T      &kp U      &kp V      &kp W      &kp X
            /* Row 3 */
            &kp Y      &kp Z      &kp A      &kp B      &kp C      &kp D          &kp E      &kp F      &kp G      &kp H      &kp I      &kp J
            /* Row 4 */
            &kp K      &kp L      &kp M      &kp N      &kp O      &kp P          &kp Q      &kp R      &kp S      &kp T      &kp U      &kp V
            /* Row 5 */
            &kp W      &kp X      &kp Y      &kp Z      &kp A      &kp B          &kp C      &kp D      &kp E      &kp F      &kp G      &kp H
            >;

        sensor-bindings = <
            &inc_dec_kp LEFT_ARROW RIGHT_ARROW
            &inc_dec_kp UP_ARROW   DOWN_ARROW
            &inc_dec_kp LEFT_ARROW RIGHT_ARROW
            &inc_dec_kp UP_ARROW   DOWN_ARROW
            >;
                    };
    };
};


            